/* EmotionForm.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    /* Full height minus the header height */
    width: 100%;
    padding-top: 60px;
    /* Ensure content starts below the header */
    box-sizing: border-box;
}

.largeEmoji {
    font-size: 150px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    background: transparent;
    border: none;
    padding: 0;
}

.formGroup {
    width: 100%;
}

.select,
.textarea,
.button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 1em;
    color: rgb(131, 131, 131);
}

.select {
    appearance: none;
    border: 1px solid #ccc;
    background: white;
    border-radius: 25px;
    padding: 10px;
}

.textarea {
    border: 1px solid #ccc;
    border-radius: 25px;
    color: rgb(131, 131, 131);
    font-size: 1em;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px 15px;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {

    .select,
    .textarea,
    .button {
        width: 100%;
    }
}

h1 {
    font-size: 1em;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

.confirmationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--emotion-color, black);
}

.confirmationText {
    color: white;
    font-size: 2em;
    text-align: center;
}