/* EmotionList.module.css */
.pageContainer {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 0px;
    overflow-y: auto;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.emotionList {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 80px;
}

.emotionItem {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #33333300;
    position: relative;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.emoji {
    font-size: 2.5em;
    line-height: 60px;
    /* Match the height of the circle */
    vertical-align: middle;
    /* Vertically center the emoji */
    text-align: center;
    /* Center the emoji horizontally */
    display: inline-block;
    /* Ensure the emoji respects line-height */
    width: 100%;
    /* Make the emoji's container span the full width */
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.text {
    font-size: 1.2em;
    background-color: #888;
    padding: 10px;
    padding-bottom: 40px;
    /* Add padding to the bottom to make space for the date */
    border-radius: 8px;
    text-align: left;
    flex: 1;
}

.date {
    font-size: 0.8em;
    color: #bbb;
    position: absolute;
    bottom: 15px;
    /* Adjust as needed */
    right: 15px;
}

.error {
    color: red;
    font-size: 1em;
}