<app-emotion-spheres [showText]="showText" (emotionSelected)="onEmotionSelected($event)"></app-emotion-spheres>

<div class="controls-overlay" *ngIf="!isZoomed">
  <button class="btn-toggle-text" (click)="toggleText()">
    {{ showText ? 'Hide Text' : 'Show Text' }}
  </button>
</div>

<div class="fab-container" #fabContainer>
  <div class="form-overlay" *ngIf="isFormVisible">
    <app-emotion-form></app-emotion-form>
  </div>
  <button class="btn-fab-circle" [class.btn-fab-close]="isFormVisible" (click)="toggleForm()">
    {{ isFormVisible ? '✕' : '+' }}
  </button>
</div>
