/* LoginPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px;
    /* Adjust top padding to move content higher */
    width: 100%;
    max-width: 400px;
    /* Increase max-width for wider content */
    margin: 0 auto;
    color: #ffffff;
    font-size: 1em;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 300px;
}

.form {
    width: 100%;
    max-width: 400px;
    font-size: 1em;
}

.formGroup {
    width: 100%;
}

.input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: #000;
    /* Ensure text color is black */
    background-color: #fff;
    /* Ensure background color is white */
}
.button {
    color: #ffffff;
    background-color: #007bff;
}

.button:hover {
    background-color: #0056b3;
}

.buttonSecondary {
    color: #007bff;
    background-color: #ffffff;
}

.buttonSecondary:hover {
    background-color: #f0f0f0;
}