/* WelcomePage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px;
    /* Adjust top padding to move content higher */
    width: 100%;
    max-width: 400px;
    /* Increase max-width for wider content */
    margin: 0 auto;
    color: #ffffff;
}

h1 {
    font-size: 2.5em !important;
    margin-bottom: 50px;
    text-decoration: none;
    color: #ffffff;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
}

.formGroup, .button, .buttonSecondary {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1em;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border-radius: 25px;
    color: #ffffff;
    margin-bottom: 20px;
    text-decoration: none;
}

.button {
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    font-size: 1em;
}

.button:hover {
    color: #ffffff;
    background-color: #0056b3;
    text-decoration: none;
}

.buttonSecondary {
    color: #007bff;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

.buttonSecondary:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}
.image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    /* Adjust as necessary */
    border-radius: 0px;
    /* Optional styling */
}