/* Dashboard.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px;
    /* Adjust top padding to move content higher */
    width: 100%;
    max-width: 400px;
    /* Increase max-width for wider content */
    margin: 0 auto;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1em;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    /* Increase max-width for wider items */
}

.infoItem label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 1.2em;
}

.infoValue {
    font-size: 1em;
    background-color: #e0e0e0;
    color: #333;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    max-width: 500px;
    /* Increase max-width for wider buttons */
    padding: 15px;
    font-size: 1em;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: none;
}

.button {
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}

.buttonSecondary {
    background-color: #ffffff;
    color: #007bff;
}

.buttonSecondary:hover {
    background-color: #f0f0f0;
}

.loading {
    font-size: 1.5rem;
    color: #ff9800;
}