/* common.css */
/* Shared.module.css */
/* .formElement {
    width: 90%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.button,
.buttonSecondary {
    width: 90%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}

.buttonSecondary {
    background-color: #ffffff;
    color: #007bff;
}

.buttonSecondary:hover {
    background-color: #f0f0f0;
} */