/* HomePage.module.css */
.visualizationPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: filter 0.3s;
    /* Add a transition for smooth blur effect */
}

.blurred {
    filter: blur(10px);
    /* Adjust the blur value as needed */
}

.visualizationContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.error {
    color: red;
    font-size: 1.2em;
}

.toggleButton {
    color: black;
    background-color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    position: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
}

.toggleButton:hover {
    text-decoration: underline;
}

.toggleButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    background-color: transparent;
}