/* Navbar.module.css */
@import '../../styles/common.css';
@import '../../styles/Normalize.css';

.header {
    background-color: #333;
    padding: 1em;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navItem {
    margin: 0 10px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.navLink:hover {
    text-decoration: underline;
}

.navButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.navButton:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .navItem {
        margin: 10px 0;
    }
}