/* LogEmotion.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--emotion-color, #000000);
    color: #ffffff;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.formGroup {
    width: 100%;
}

.select,
.textarea,
.button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 25px;
}

.select {
    appearance: none;
    border: 1px solid #ccc;
    background: white;
    padding: 10px;
}

.textarea {
    border: 1px solid #ccc;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {

    .select,
    .textarea,
    .button {
        width: 100%;
    }
}

:root {
    --emotion-color: black;
}

.confirmationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--emotion-color, #000000);
    margin-bottom: 20px;
}

.confirmationText {
    color: white;
    font-size: 2em;
    text-align: center;
}