/* Header.module.css */

.header {
    width: 100px;
    background-color: transparent;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    height: 100px;
}

.backButton {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    cursor: pointer;
    margin-left: 0px;
    text-decoration: none;
}

.backButton:hover {
    text-decoration: underline;
}