<nav class="navbar glass">
  <a class="nav-brand" [routerLink]="(authService.isLoggedIn$ | async) ? '/home' : '/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="logo-unselected" src="logo%20white.svg" alt="Andromeda">
    <img class="logo-selected" src="logo%20color.svg" alt="Andromeda">
  </a>
  <div class="nav-links">
    <ng-container *ngIf="authService.isLoggedIn$ | async; else loggedOut">
      <a routerLink="/emotion-list" routerLinkActive="active">My Entries</a>
      <a routerLink="/my-account" routerLinkActive="active">Account</a>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/signup" class="btn-primary">Sign Up</a>
    </ng-template>
  </div>
</nav>
